@media only screen and (min-width:90em) {
  #about p {
    font-size: 25px;
      padding-top: 50px;
      padding-right: 110px;
    }
  }


/* large desktop xl = Extra large ≥1200px --------------------------------------------------------- */
@media only screen and (min-width:75em) {
  header {
    margin: 0 0 300px 0;
  }
  header h1 {
      padding-top: 130px;
      text-align: left;
      font-weight: 600!important;
      font-size: 3.7rem;
  }
  .logo img {
    padding-top: 20px;
    text-align: center;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
  }

  .navbar {
    padding: 100px 0 100px 0;

  }

  .navbar-light .navbar-nav .nav-link {
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
  }


  /*-------------------- -----------------------------------------------------------------------------------
  about
  -----------------*/
  #about {
        padding: 100px 0 150px 0;
  }

  #about p {
    font-size: 25px;
      padding-top: 50px;
      padding-right: 150px;
    }
}

/* small desktop lg = Large ≥992px
---------------------------------------------------------                       ---------------------------------------------------------
---------------------------------------------------------                       ---------------------------------------------------------

--------------------------------------------------------- */
@media only screen and (min-width: 62em) and (max-width: 74.938em){
  header {
    margin: 0 0 200px 0;
  }
  header h1 {
      padding-top: 90px;
      text-align: left;
      font-weight: 600!important;
      font-size: 2.9rem;
  }


    .navbar {
      padding: 100px 0 100px 0;

    }

    .navbar-light .navbar-nav .nav-link {
      color: #000;
      font-size: 1.5rem;
      font-weight: bold;
    }

  /*-------------------- -----------------------------------------------------------------------------------
  about
  -----------------*/
  #about {
      padding: 10px 0 100px 0;
  }

  #about p {
    font-size: 25px;
      padding-top: 50px;
      padding-right: 80px;
    }
}

/* tablet sm =md = Medium ≥768px (The navbar toggle appears at this breakpoint)
---------------------------------------------------------                       ---------------------------------------------------------
---------------------------------------------------------                       ---------------------------------------------------------

--------------------------------------------------------- */
@media only screen and (min-width: 48em) and (max-width: 61.938em)  {
  header {
  margin: 0 0 100px 0;
  }

  header h1 {
      padding-top: 65px;
      text-align: left;
      font-weight: 600!important;
      font-size: 2.2rem;
  }



    .navbar {
      padding: 100px 0 100px 0;

    }

    .navbar-light .navbar-nav .nav-link {
      color: #000;
      font-size: 1.5rem;
      font-weight: bold;
    }

  /*-------------------- -----------------------------------------------------------------------------------
  about
  -----------------*/
  #about {
      padding: 10px 0 100px 0;


  }

  #about h1 {
    font-size: 30px;
  }

  #about p {
    font-size: 25px;
      padding-top: 50px;
      padding-right: 80px;
    }

}

/* small tablet sm = Small ≥576px
---------------------------------------------------------                       ---------------------------------------------------------
---------------------------------------------------------                       ---------------------------------------------------------

--------------------------------------------------------- */
@media only screen and (min-width: 36em) and (max-width: 47.938em)  {
  header {
  margin: 0 0 100px 0;
  }

  header h1 {
  padding-top: 45px;
    text-align: left;
    font-weight: 600!important;
    font-size: 1.8rem;
  }

  .container {
      padding-top: 20px;
      padding-bottom: 50px!important;
  }

  /*-------------------- -----------------------------------------------------------------------------------
  about
  -----------------*/
  #about {
    padding: 10px 0 50px 0;
    text-align: left;
  }

  #about .row {
    padding-top: 40px;
  }

  #about h1 {
    font-size: 25px;
  }

  #about p {
    font-size: 20px;
      padding-top: 50px;
      padding-right: 50px;
    }

    #contact h1 {
    text-align: left;
    padding-bottom: 50px;
    font-size: 25px;

}
  }




/*  mobile xs = Extra small <576px
---------------------------------------------------------                       ---------------------------------------------------------
---------------------------------------------------------                       ---------------------------------------------------------

--------------------------------------------------------- */

@media only screen and (min-width: 425px) and  (max-width: 575px)  {

  header h1 {
  padding-top: 1px;
    text-align: center;
    font-weight: 600!important;
    font-size: 2.5rem;
  }


      .container {
          padding-top: 20px;
          padding-bottom: 50px!important;
      }

      /*-------------------- -----------------------------------------------------------------------------------
      about
      ----------------- */

      #about {
          color: #fff!important;
          background-color: #000;
          background-image: url(img/bgm1.png);
          background-size: contain;
          padding: 10px 0 50px 0;
      }

    #about h2 {
      font-size: 33px;
    }

    #about p {
      font-size: 20px;
      text-align: left;
      padding-right: 50px;
    }

  }

@media only screen and (min-width: 320px) and  (max-width: 424.98px)  {



  header {
    min-height: 40%;
  }

  .quote {
    padding: 1px;
  }



    header h1 {
    padding-top: 1px;
      text-align: center;
      font-weight: 600!important;
      font-size: 1.8rem;
    }

    .logo img {
      text-align: center;
      vertical-align: middle;
      max-width: 100%;
      height: auto;

    }


    .navbar-light .navbar-nav .nav-link {
      color: #000;
      font-size: 1rem;
      font-weight: bold;
    }

    /*-------------------- -----------------------------------------------------------------------------------
    about
    ----------------- */

    #about {
        color: #fff!important;
        background-color: #000;
        background-image: url(img/bgm1.png);
        background-size: contain;
        padding: 10px 0 50px 0;
    }

  #about h2 {
    font-size: 32px;
  }

  #about p {
    font-size: 20px;
    text-align: left;
    padding-right: 45px;
  }

  #about img {
    height: 200px;
    max-width: 100%;
    height: auto;
  }

  #contact h1 {
    text-align: center;
    font-size: 30px;
    padding-bottom: 50px;
  }
}

/* small mobile xs = Extra small <576px
 ---------------------------------------------------------                       ---------------------------------------------------------
 ---------------------------------------------------------                       ---------------------------------------------------------

--------------------------------------------------------- */
@media only screen and (min-width: 240px) and (max-width: 319px)  {

  .container {
      padding-top: 20px;
      padding-bottom: 100px!important;
  }


  header {
    width: 100%;
    background-image: #fff;
    padding: 1px;
  }


  header h1 {
  padding-top: 1px;
    text-align: center;
    font-weight: 600!important;
    font-size: 1.6rem;
  }



  /*-------------------- -----------------------------------------------------------------------------------
  about
  ----------------- */

  #about {
      color: #fff!important;
      background-color: #000;
      background-image: url(img/bgm1.png);
      background-size: contain;
      padding: 10px 0 50px 0;
  }


  #about h2 {
    font-size: 30px;
  }

  #about p {
    font-size: 17px;
    text-align: left;
      padding-top: 1px;
      padding-right: 28px;

  }

  #contact h3 {
    font-size: 30px;
  }




  #foot p {
    text-align: center;
    padding-bottom: 1px;
    font-size: 17px !important;
}
}
